$primary: #39B;

.resume {
  background-color: #777;

  body {
    width: 80%;
    margin: 1em auto;
    padding: 2em;
    background-color: white;
    box-shadow: .25em .25em 2em rgba(0, 0, 0, .5);
  }

  .head,
  .body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  header .head {
    border-bottom: .25em solid $primary;
  }

  section {
    margin: 1em 0;
  }

  h1, h2, h3 {
    color: $primary;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.4em;
  }
}
